@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 7px 5px 0px 5px;
}

.left-links, .right-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 5px;
  gap: 12px;
}

li a {
  color: rgb(75 85 99 / 1);
  text-decoration: none;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  background: #eee;
  margin-top: 15px;
  padding: 7px 10px 7px 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #eeeeee;
  padding-top: 7px;
  padding-bottom: 7px;
}
